.item-box {
    width: 100%;
}
.list-item {
    margin: 1em;
    padding: 0.3em;
    border-bottom: 0.5px solid var(--dark-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

nav .nav-items{
    @include flex-item(row, center, space-between);

    //Lignt|Dark Mode toggle
    input[type="checkbox"] {
        position: relative;
        width: 40px;
        height: 20px;
        appearance: none;
        background-color: var(--accent-color-blue);
        border-radius: 50px;
    }
    input[type="checkbox"]:before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 16px;
        background-color: var(--light-color);
        transform: scale(0.9);
        left: 0;
        transition: left 0.5s;
    }
    input:checked[type="checkbox"]:before{
        left: 20px;
    }

    .nav-links a{
        margin-right: 2em;
        padding: 0.2em;
        cursor: pointer;

        &.active{
            border-bottom: 1px solid var(--accent-color-blue);
        }
    }
}

//INPUT
.input-box{
    width: 100%;
}

#input {
    @include input-style(80%, 2em 0 0 2em);
    border-right: none;
}
//add btn
#addBtn {
    @include input-style(20%, 0 2em 2em 0, none);
    float: right;
    background-color: var(--accent-color-blue);
    color: var(--light-color);
    cursor: pointer;
    &:hover{
         background-color: var(--accent-color-orange);
         transition: 0.2s background-color; //only on hover
    }
}
//remove btn

    li button {
        background-color: var(--accent-color-blue);
        color: var(--light-color);
        padding: 0.5em 0.7em;
        border-radius: 2em;
        font-size: 0.8em;
        cursor: pointer;

        &:hover{
            background-color: var(--accent-color-orange);
            transition: 0.2s background-color;
        }
    }
