body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
nav{
    @include flex-item($justify:center, $max-width:100%);
    background-color: var(--light-color);
    color: var(--accent-color-blue);
    font-weight: bold;
    position: sticky;
    top: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.164);
    padding: 0;
    height:  50px;
}

main {
    @include flex-item(column);
}

@media screen and (min-width: 764px){

}